.pointer {cursor: pointer;}
.hidden {display: none;}
.my-btn {
    background-color: #0dcaf0;
    padding: 5px;
    border-radius: 7px;
    color:white;
    border: none;
}
.my-btn:hover {
  background-color: #198754; /* Darker green */
}
/* Style for Desktop and Mobile */
@media screen and (max-width:768px) {
    .desktop {
        display: none;
    }
}
@media screen and (min-width:769px) {
    .mobile {
        display: none;
    }
}