body {
    display: flex;
    flex-direction: column;
}

/* Style for mobile https://www.w3schools.com/cssref/atrule_media.php */
@media screen and (max-width:768px) {
    .desktop {
        display: none;
    }
    body {
        background-color: white;
    }
}

/* Style for Desktop */
@media screen and (min-width:769px) {
    .mobile {
        display: none;
    }
    body {
        background-color: pink;
    }
}